<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_2324_2Y_2B_IntegProg_LoginSample.Properties.Settings._2324_2B_LoginSampleConnectionString"
            connectionString="Data Source=CCL01-14;Initial Catalog=2324_2B_LoginSample;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>